*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{
background:#eaf4ff;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-container{
background:white;
padding:40px;
width:360px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,.15);
text-align:center;
}

.logo{
font-size:55px;
margin-bottom:15px;
}

h1{
font-size:24px;
color:#0b5394;
margin-bottom:8px;
}

p{
color:#777;
margin-bottom:25px;
}

input,select{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:8px;
font-size:15px;
}

button{
width:100%;
padding:12px;
background:#0b5394;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#083b6f;
}
